* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

header {
  background-color: #393e46;
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.header-color {
  color: white
}

.header-img {
  width: 70px;
}

.text-section {
  display: flex;
  justify-content: center;
  margin-top: 0.7em;
  margin-bottom: 1em;
}

.img-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto auto;
  align-items: center;
  width: 450px;
}

.img-section hr {
  margin-top: 10px;
  width: 30%;
}

.gallery-img {
  width: 150px;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}