.super-mario{
    width: 100px;
    position: absolute;
    z-index: 1;
}
.goomba{
    width: 100px;
    position: absolute;
    top: 230px;
    left: 30px;
    margin-top: 10px;
    z-index: 2;
}
.word{
    color:tomato;
    position: absolute;
    left: 220px;
    
    z-index: 3;

}
.baloon{
    width: 200px;
    position: absolute;
    left: 200px;
}
.bowser{
    width: 100px;
    position: absolute;
    margin-left: 10px;
    top: 150px;
    left: 400px;
}