h1{
    font-family: sans-serif;
    font-size: 65px;
    color: orange;
}
p {
    font-weight: 600;
    font-size: 3em;
    font-style: oblique;
    text-decoration: underline;
}
body {
    font-size: 16px;
}
.cordefundo{
    background-color: tan;
}
li {
    line-height: 25px;
}
#cAmarelo.cordefundo {
    background-color: yellow;
}
#cVermelho.cordefundo{
    background-color: red;
}
#cMarron.cordefundo{
    background-color: brown;
}